:root {
  --color: #fff;
  --bdcolor: #D3D3D3;
  --fcolor: #555;
  --hlcolor: #f44;
  --ff: 'Microsoft Yahei';
  --btncolor: #0777dd;
  --disbaled: #f1f1f1;
  --fontSize: 14px;
  --smallFontSize: 12px;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: content-box; */
  box-sizing: border-box;
}
html,body{width:100%;height:100%;}
button{outline:none;border:none;}

/* index.html */
.form{padding:100px 0 0 200px;}
.ipt-wrap{width:220px;height:30px;line-height:30px;margin-bottom:10px;position:relative;}
.ipt-base{display:block;width:100%;height:100%;}
.ipt{border:1px solid var(--bdcolor);outline:none;text-indent:5px;}
.ipt:disabled,button:disabled{background-color:var(--disbaled);}
.ipt-code{padding-right:105px;}
.btn-code{top:0;right:0;position:absolute;outline:none;border:1px solid var(--bdcolor);height:30px;width:100px;cursor:pointer;}
.code-tips{font-size:var(--smallFontSize);color:var(--hlcolor);}
.btn-submit,.check-btn{text-align:center;font-size:var(--smallFontSize);color:var(--color);cursor:pointer;background-color:var(--btncolor);}
.data-item{font-size:0;}
.data-item span{font-size:var(--smallFontSize);display:inline-block;width:150px;text-align:center;border:1px solid var(--bdcolor);}

/* list.html */
.page-list .ipt-wrap{
  margin: 0 auto;
}